.conteudo {
    width: 720px;
    height: 700px;
    margin: auto;
    padding: 30px;
    text-align:center;
}

.conteudo h1 {
    font-size: 30px;
}

article {
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.leia-mais {
    font-size: 24px;
    display: block;
    padding: 8px;
    text-align: center;
    background-color: #E6E7E8;
    text-decoration: none;
    margin: 16px;
}
