body {
	font-family: "Crimson Text";
	font-size: 120%;
	background-color: #F2FFFC;
	line-height: 1.5;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.titulo-principal {
	font-size: 60px;
	text-align: center;
	background-color: #851944;
	color: #FAFFFA;
	padding: 25px;
	border-bottom: 10px solid #000000;
}

h2 {
	font-size: 30px;
}

.conteudo {
	width: 720px;
	margin: auto;
	padding: 30px
}

h1, h2 {
	font-family: "Open Sans Condensed", sans-serif;
}

p {
	text-align: justify;
	margin: 20px 0;
}

main a {
	color: #851944;
}

.citacoes {
	background-color: #D9E5E3;
	padding: 20px;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin:20px 40px;
}

#navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
	padding: 30px;
	text-align: center;
} 


aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

.icones-sociais li {
	display: inline-block;
}

nav a {
    color: #F2FFFC;
}

#rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	text-align: center;
}

article {
	margin-bottom: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.leia-mais {
	font-size: 24px;
	display: block;
	padding: 8px;
	text-align:center;
	background-color: #E6E7E8;
	text-decoration: none;
	margin: 16px;
}